{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/uploadPhoto.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'js/trackbar.js' %}">
    <link rel="stylesheet" href="{% static 'css/trackbars.css' %}"> -->

    <title>Edge</title>
</head>
<body>
<main>
    <p>Trashold</p>

    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p>Value: <span id="demo"></span></p>
    </div>

    <p>Keny</p>

    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange1">
      <p>Value: <span id="demo1"></span></p>
    </div>

    <p>Adoptive Trashold</p>

    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
      <p>Value: <span id="demo2"></span></p>
    </div>

    <p>Sobel</p>

    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
      <p>Value: <span id="demo3"></span></p>
    </div>


    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        var slider1 = document.getElementById("myRange1");
        var output1 = document.getElementById("demo1");
        var slider2 = document.getElementById("myRange2");
        var output2 = document.getElementById("demo2");
        var slider3 = document.getElementById("myRange3");
        var output3 = document.getElementById("demo3");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }

        slider1.oninput = function() {
          output1.innerHTML = this.value;
        }

        slider2.oninput = function() {
          output2.innerHTML = this.value;
        }

        slider3.oninput = function() {
          output3.innerHTML = this.value;
        }

    </script>


    <script src="https://unpkg.com/htmx.org@1.8.6"
				integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
				crossorigin="anonymous">
    </script>
    <script src="/path/to/htmx.min.js"></script>
</main>
</body>
</html>
